<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lhrsite.flutter_tuikit">
    <application>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>
